@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@400;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  /* background: radial-gradient(circle, rgb(141, 7, 123) 0%, rgb(97, 30, 136) 100%); */
  background: radial-gradient(circle, rgb(216, 216, 216) 0%, rgb(100, 100, 100) 100%);
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.error{
  color: rgb(255, 48, 48);
  font-weight: 600;
}

/* Header */
.header-container{
  position: relative;
  width: 95%;
  height: 20vh;
  margin: auto;
}
.header-items-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0rem 2rem;
  color: #fff;
}
.header-items-container h1{
  font-size: 2.3rem;
  letter-spacing: 1.8px;
  /* width: 100%; */
  text-align: center;
}
.options-container{
  display: flex;
  align-items: center;
}

.header-ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 150px
}
/* btns */
.home-btn{
  background-color: thistle;
}

.news-btns{
  display: flex;
  width: 100%;
  justify-content: center;
}
.news-btns a{
  text-decoration: none;
  color: #333;
}
.news-btns button{
  margin: 0px 5px;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
  cursor: pointer;
}
.news-btns button:active{
  transform: scale(.98);
}
.tech-btn{
  background-color: cornflowerblue;
  color: #fff;
}
.top-btn{
  background-color: #a1a1a1;
  color: #fff;
}

/* top news page */
.news-article-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}

.img-info-container{
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}
.img-info-container:active{
  transform: scale(.99);
}

.title-container{
  height: 120px;
}

.title{
  font-size: 1.5rem;
}

.img-container{
  display: flex;
  width: 100%;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.news-image{
  width: 300px;
}

.img-info-container p{
  font-size: .7rem;
}

.news-description{
  display: flex;
  align-items: flex-start;
  height: 123px;
}
.news-description p{
  font-size: 1rem;
}

/* weather */
.home-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.stocks-weather-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem 0rem;
  padding: 0;
  width: 100%;
  position: relative;
  padding-bottom: 4rem;
}
.trending-h2{
  position: absolute;
  top: 9%;
  left: 25%;
  font-size: 2em;
  font-family: 'Quicksand' , sans-serif;
  letter-spacing: 1.3px;
}
.stocks-weather{
  display: flex;
  flex-direction: column;
}
.top-news-section{
  width: 60%;
}
.top-news-container{
  height: 200px;
  width: 200px;
}
.top-btn-container{
  display: flex;
  justify-content: space-between;
  width: auto;
  /* position: absolute; */
  transform: translateY(800%);
}
.left-btn{
  height: 400px;
}
.top-btn-container button{
  padding: 0;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  background-color: rgb(63, 63, 63);
}
svg{
  background-color: rgb(63, 63, 63);
}

.top-news-content{
  height: auto;
  display: flex;
  width: auto;
  overflow-x: hidden;
  margin-top: 4rem;
  /* background-color: rgb(199, 206, 230); */
  background: radial-gradient(circle farthest-corner, rgb(255, 255, 255) 0%, rgb(196, 196, 196) 100%);
  padding-bottom: 3rem;
  padding-top: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}
.top-img-home{
  height: 400px;
  width: 600px;
  scroll-behavior: smooth;
  object-fit: cover;
  margin-right: 10px;
}

.showcase-container{
  text-decoration: none;
}
.showcase-title{
  padding: 0px 20px;
  color: white;
  font-weight: 700;
  letter-spacing: 1.4px;
}
.weather-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: radial-gradient(circle, rgba(100,0,123,1) 0%, rgba(62,20,86,1) 100%); */
  background: radial-gradient(circle, rgb(87, 87, 87) 0%, rgb(224, 224, 224) 100%);
  color: white;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}

.form-container h2{
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}
.form-container input{
  border: none;
  padding: 9px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 9px;
}
.stock-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.stock-form input{
display: flex;
align-items: center;
justify-content: center;
  margin: auto;
  border: none;
  padding: 9px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 9px;
}

.search-btn, .stock-btn{
  border: none;
  padding: 8px 16px;
  background-color: rgb(224, 116, 53);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.stock-btn{
  background-color: rgb(141, 7, 123);
}

.weather-results{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weather-results-container h2{
  margin: 10px 0px;
  letter-spacing: 2px;

}
.weather-results-container p{
  margin: 7px 0px;
  letter-spacing: 3px;
}
.weather-desc{
  text-transform: capitalize;
}

/* stocks */
.stocks-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 20px 0px;
}
.stocks-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: radial-gradient(circle, rgb(194, 134, 22) 0%, rgb(238, 106, 54) 100%); */
  background: radial-gradient(circle, rgb(189, 189, 189) 0%, rgb(138, 138, 138) 100%);
  color: white;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
  -webkit-box-shadow: 4px 4px 6px -3px #000000; 
  box-shadow: 2px 3px 4px -3px #000000;
}

.stock-data{
  display: flex;
  flex-direction: column;
}
.price-vol-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

}
.finance-h2{
  text-align: center;
  letter-spacing: 1.5px;
}

.price-vol-container p{
  /* width: 100px; */
}
.vol{
  width: 100px;
}
.price{
  display: flex;
  /* width: 100px; */
  text-align: center;
}

.poss{
  color: rgb(0, 102, 0);
  font-weight: 600;
}

.neg{
  color: rgb(223, 0, 0);
  font-weight: 600;
}
.exclamation{
  font-size: 3rem;
}

@media(max-width: 500px){
  .stocks-weather-container{
    flex-direction: column;
  }
  .top-news-section{
    width: 100%;
  }
  .top-img-home{
    width: auto;
  }
  img.top-img-home{
    width: 390px;
    
  }
  .stocks-weather{
    width: 100%;
  }
  .weather-content{
    width: 100%;
    margin-top: 15px;
  }
  .stocks-content{
    width: 100%;
  }
  .news-btns{
    flex-wrap: wrap;
  }
  .news-btns button{
    margin: 5px;
  }
  .news-article-container{
    flex-direction: column;
  }
  .img-info-container{
    width: auto;
    padding: 0px 10px;
  }
  .news-description p{
    font-size: .9rem;
  }
  .showcase-container{
    width: 100%;
  }
  .trending-h2{
    display: none;
  }
}
@media(max-width: 1100px){
  .stocks-weather-container{
    flex-direction: column;
    align-items: center;
  }
  .trending-h2{
    display: none;
  }
  .news-image{
    width: 100%;
  }
  .news-description{
    height: auto;
  }
}